[submodule "taproot"]
	path = taproot
	url = https://github.com/uw-advanced-robotics/taproot
[submodule "taproot-scripts"]
	path = taproot-scripts
	url = https://gitlab.com/aruw/controls/taproot-scripts.git
